<a href="https://colab.research.google.com/github/Mehadi2012/Practice/blob/main/Data_pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dataset = pd.read_csv('/content/sample_data/Data.csv')
dataset.head()
# x = dataset.iloc[:,:-1].values
# y = dataset.iloc[:,3].values
# print(x)
# print(y)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

# Missing Value

In [86]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp = imp.fit(dataset[['Age','Salary']])
dataset[['Age','Salary']] = imp.transform(dataset[['Age','Salary']])
dataset.head(10)

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

#Categorical Data

In [87]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

xenco = preprocessing.LabelEncoder()
dataset['Country']=xenco.fit_transform(dataset['Country'])
dataset = pd.get_dummies(dataset, columns=['Country'])
dataset['Purchased']=xenco.fit_transform(dataset['Purchased'])
dataset.head(10)

         Age        Salary  Purchased  Country_0  Country_1  Country_2
0  44.000000  72000.000000          0          1          0          0
1  27.000000  48000.000000          1          0          0          1
2  30.000000  54000.000000          0          0          1          0
3  38.000000  61000.000000          0          0          0          1
4  40.000000  63777.777778          1          0          1          0
5  35.000000  58000.000000          1          1          0          0
6  38.777778  52000.000000          0          0          0          1
7  48.000000  79000.000000          1          1          0          0
8  50.000000  83000.000000          0          0          1          0
9  37.000000  67000.000000          1          1          0          0

In [77]:
from sklearn.model_selection import train_test_split
X = dataset.iloc[:,[0,1,3,4,5]].values
y = dataset.iloc[:,2].values
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)
print(X_train.shape)
print(X_test.shape)

[[4.40000000e+01 7.20000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00]
 [2.70000000e+01 4.80000000e+04 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [3.00000000e+01 5.40000000e+04 0.00000000e+00 1.00000000e+00
  0.00000000e+00]
 [3.80000000e+01 6.10000000e+04 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [4.00000000e+01 6.37777778e+04 0.00000000e+00 1.00000000e+00
  0.00000000e+00]
 [3.50000000e+01 5.80000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00]
 [3.87777778e+01 5.20000000e+04 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [4.80000000e+01 7.90000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00]
 [5.00000000e+01 8.30000000e+04 0.00000000e+00 1.00000000e+00
  0.00000000e+00]
 [3.70000000e+01 6.70000000e+04 1.00000000e+00 0.00000000e+00
  0.00000000e+00]]
(8, 5)
(2, 5)

In [88]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset[['Country_0','Country_1','Country_2','Age','Salary']],dataset['Purchased'],test_size = 0.2, random_state = 0)
print(X_train.shape)
print(X_test.shape)

(8, 5)
(2, 5)

# Feature Scaling

In [91]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test =  sc_X.transform(X_test)