<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science-in-Practice/blob/main/pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
students = ['Mehadi','Hasan']
pd.Series(students)

0    Mehadi
1     Hasan
dtype: object

In [3]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
students = ['alice','jack']
pd.Series(students)

0    alice
1     jack
dtype: object

In [5]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan==None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
students_scores = {'Alice': "physics",
                   'Jack': 'chemistry',
                   'Molly': 'English'}
s = pd.Series(students_scores)    
s

Alice      physics
Jack     chemistry
Molly      English
dtype: object

In [10]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [11]:
students = [('Aline','Brown'),('Jack','White'),('Molly','Green')]
pd.Series(students)

0    (Aline, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [12]:
s = pd.Series(['Physics','Chemistry,','English'], index = ['Alice','Jack', 'Molly'])
s

Alice       Physics
Jack     Chemistry,
Molly       English
dtype: object

In [14]:
students_classes = {'Alice': "physics",
                   'Jack': 'chemistry',
                   'Molly': 'English'}
s = pd.Series(students_classes,index = ['Alice','Jack', 'Sam'])
s

Alice      physics
Jack     chemistry
Sam            NaN
dtype: object

In [15]:
fruits = ['mango','apple','banana']
pd.Series(fruits)

0     mango
1     apple
2    banana
dtype: object

In [20]:
students_classes = {'Alice': "physics",
                   'Jack': 'chemistry',
                   'Molly': 'English',
                    'Sam': 'History'}
s = pd.Series(students_classes)      
s

Alice      physics
Jack     chemistry
Molly      English
Sam        History
dtype: object

In [21]:
s.iloc[3]

'History'

In [22]:
s.loc['Molly']

'English'

In [23]:
s[3]

'History'

In [24]:
s['Molly']

'English'