<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science-in-Practice/blob/main/pandas_Series_p2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
students = ['Mehadi','Hasan']
pd.Series(students)

0    Mehadi
1     Hasan
dtype: object

In [3]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
students = ['alice','jack']
pd.Series(students)

0    alice
1     jack
dtype: object

In [5]:
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan==None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
students_scores = {'Alice': "physics",
                   'Jack': 'chemistry',
                   'Molly': 'English'}
s = pd.Series(students_scores)    
s

Alice      physics
Jack     chemistry
Molly      English
dtype: object

In [10]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [11]:
students = [('Aline','Brown'),('Jack','White'),('Molly','Green')]
pd.Series(students)

0    (Aline, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [12]:
s = pd.Series(['Physics','Chemistry,','English'], index = ['Alice','Jack', 'Molly'])
s

Alice       Physics
Jack     Chemistry,
Molly       English
dtype: object

In [14]:
students_classes = {'Alice': "physics",
                   'Jack': 'chemistry',
                   'Molly': 'English'}
s = pd.Series(students_classes,index = ['Alice','Jack', 'Sam'])
s

Alice      physics
Jack     chemistry
Sam            NaN
dtype: object

In [15]:
fruits = ['mango','apple','banana']
pd.Series(fruits)

0     mango
1     apple
2    banana
dtype: object

In [20]:
students_classes = {'Alice': "physics",
                   'Jack': 'chemistry',
                   'Molly': 'English',
                    'Sam': 'History'}
s = pd.Series(students_classes)      
s

Alice      physics
Jack     chemistry
Molly      English
Sam        History
dtype: object

In [21]:
s.iloc[3]

'History'

In [22]:
s.loc['Molly']

'English'

In [23]:
s[3]

'History'

In [24]:
s['Molly']

'English'

In [25]:
class_nodes = {99:'Physics',
               100:'Chemistry',
               101: 'English',
               102: 'History'}
s = pd.Series(class_nodes)
s

99       Physics
100    Chemistry
101      English
102      History
dtype: object

In [26]:
s[0]  # shows error because there is no item with an index 0

KeyError: ignored

In [27]:
s.iloc[0]

'Physics'

In [28]:
grades= pd.Series([80,90,70,60])
total = 0
for grade in grades:
  total+=grade
print(total/len(grades))

75.0

In [29]:
import numpy as np

total = np.sum(grades)
print(total/len(grades))

75.0

In [48]:
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

0    899
1    400
2    327
3    579
4    410
dtype: int64

In [37]:
len(numbers)

10000

In [39]:
%%timeit -n 100
total = 0
for number in numbers:
  total+=number
total/len(numbers)

100 loops, best of 5: 1.47 ms per loop

In [40]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

100 loops, best of 5: 70.6 µs per loop

In [44]:
numbers.head()

0    440
1    561
2    628
3    529
4    424
dtype: int64

In [45]:
numbers+=2
numbers.head()

0    442
1    563
2    630
3    531
4    426
dtype: int64

In [51]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
for label,value in s.iteritems():
  s.loc[label]=value+2

10 loops, best of 5: 53 ms per loop

In [52]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,1000))
s+=2      # faster

10 loops, best of 5: 259 µs per loop

In [53]:
s = pd.Series([1,2,3])
s.loc['History']= 102
s

0            1
1            2
2            3
History    102
dtype: int64

In [57]:
students_classes = pd.Series( {'Alice': "physics",
                   'Jack': 'chemistry',
                   'Molly': 'English',
                    'Sam': 'History'})

students_classes

Alice      physics
Jack     chemistry
Molly      English
Sam        History
dtype: object

In [58]:
kelly_classes = pd.Series(['Philosophy','Arts','Math'], index = ['kelly','kelly','kelly',])
kelly_classes

kelly    Philosophy
kelly          Arts
kelly          Math
dtype: object

In [59]:
all_students_classes = students_classes.append(kelly_classes)
all_students_classes

Alice       physics
Jack      chemistry
Molly       English
Sam         History
kelly    Philosophy
kelly          Arts
kelly          Math
dtype: object

In [60]:
students_classes

Alice      physics
Jack     chemistry
Molly      English
Sam        History
dtype: object

In [61]:
all_students_classes.loc['kelly']

kelly    Philosophy
kelly          Arts
kelly          Math
dtype: object

In [64]:
num = pd.Series([1,2,3])
num

0    1
1    2
2    3
dtype: int64

In [65]:
new = num.append(kelly_classes)
new

0                 1
1                 2
2                 3
kelly    Philosophy
kelly          Arts
kelly          Math
dtype: object