<a href="https://colab.research.google.com/github/Mehadi2012/Practice/blob/main/Practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
with open ('/content/sample_data/california_housing_test.csv') as csvfile:
  myfile = list(csv.DictReader(csvfile))
myfile[:3]

[OrderedDict([('longitude', '-122.050000'),
              ('latitude', '37.370000'),
              ('housing_median_age', '27.000000'),
              ('total_rooms', '3885.000000'),
              ('total_bedrooms', '661.000000'),
              ('population', '1537.000000'),
              ('households', '606.000000'),
              ('median_income', '6.608500'),
              ('median_house_value', '344700.000000')]),
 OrderedDict([('longitude', '-118.300000'),
              ('latitude', '34.260000'),
              ('housing_median_age', '43.000000'),
              ('total_rooms', '1510.000000'),
              ('total_bedrooms', '310.000000'),
              ('population', '809.000000'),
              ('households', '277.000000'),
              ('median_income', '3.599000'),
              ('median_house_value', '176500.000000')]),
 OrderedDict([('longitude', '-117.810000'),
              ('latitude', '33.780000'),
              ('housing_median_age', '27.000000'),
              ('total_rooms', '3589.000000'),
              ('total_bedrooms', '507.000000'),
              ('population', '1484.000000'),
              ('households', '495.000000'),
              ('median_income', '5.793400'),
              ('median_house_value', '270500.000000')])]

In [8]:
len(myfile)

3000

In [12]:
myfile[0].keys()

odict_keys(['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value'])

In [13]:
sum(float(i['total_rooms']) for i in myfile) / len(myfile)

2599.578666666667

In [7]:
import pandas as pd
import csv
newfile = pd.read_csv('/content/sample_data/california_housing_test.csv')
newfile[:3]

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0

[3 rows x 9 columns]

In [14]:
import datetime as dt
import time as tm
tm.time()

1638439272.335317

In [15]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 12, 2, 10, 1, 53, 667399)

In [17]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2021, 12, 2, 10, 1, 53)

In [35]:
people = ['Dr. Christopher Brooks', 'Dr, Kevyn Collins Thomposn', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
def split_name_and_title(person):
  title = person.split()[0]
  lastname = person.split()[-1]
  return'{}{}'.format(title,lastname)

res =list(map(split_name_and_title,people))
print(res)
print(type(res))

['Dr.Brooks', 'Dr,Thomposn', 'Dr.Vydiswaran', 'Dr.Romero']
<class 'list'>